@using Car_Delivery_System.Models
@model  UserManagementViewModel
@{

    ViewBag.Title = "ManagerUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-title">
    <h3>Manage Users</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="~/Home/Index">Home</a></li>
            <li class="active">Manage Users</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                    @*<th></th>*@
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th></th>
                                    @*<th></th>*@
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model.ListUser)
                                    {
                                        <tr>
                                            <td>@item.name</td>
                                            <td>@item.email</td>
                                            <td>
                                                @{
                                                    switch (item.role)
                                                    {
                                                        case 1: <button type="button" class="btn btn-default btn-rounded">Sale Advisor</button>
                                                            break;
                                                        case 2:<button type="button" class="btn btn-primary btn-rounded">Sale Manager</button>
                                                            break;
                                                        case 3:<button type="button" class="btn btn-success btn-rounded">Warehouse Staff</button>
                                                            break;
                                                        case 4:<button type="button" class="btn btn-info btn-rounded">System Admin</button>
                                                            break;
                                                        default: <button type="button" class="btn btn-default btn-rounded">N/A</button>
                                                            break;
                                                    }     
                                                }
                                            </td>
                                            <td align="center">
                                            <button type="button" class="btn btn-success" onclick="window.location= 'UserDetail/@item.Id'">Change Role</button>
                                                <span>  </span>
                                            <button type="button" onclick="DeleteItem(@item.Id)" class="btn btn-danger">Delete</button>
                                            </td>
                                            @*<td><button type="button" class="btn btn-danger">Delete</button></td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->
<script>
    function DeleteItem(id) {
                if (confirm("Are your sure ? ")) {
                    $.ajax({

                        type: 'POST',
                        url: '@Url.Action("DeleteUser", "Account")',
                        data : {
                         id : id
                        },
                        datatype: 'JSON',
                        success: function (Result) {
                            if (Result == "Success")
                            {
                                alert("The item has been deleted..");
                                window.location.reload();
                            }else {
                                alert(Result);
                            }
                        },
                        error: function (Msgerror) {
                            alert(Msgerror.responseText);
                        }


                    })
                }
            }
</script>